body {
  margin: 0;
}

.text-center {
  text-align: center;
}

.white-text * {
  color: white !important;
}

.primary-text {
  color: #007bff !important;
}

.danger-text {
  color: #e96666 !important;
}